# Xcode user data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Build products
DerivedData/
build/
*.o
*.d

# macOS
.DS_Store

# Temp files
temp.txt
